<header class="header" style="margin-bottom: 3px;">
  <h3 class="header-title">

    <div class = "top-left", style="display: table; height: 2%; overflow: hidden; ">
      

        <td>  <a href="index.html"> <img src = "assets/img/u.jpg", width="7%", height="7%", style="float: left; padding-right: 3%;"> </a> </td> 

        <td> <a href = "index.html"> <span style="text-align: center;" class="name-title", > John Ong </span>  </a> </td> 

        {% include menu.html %}

    </div>
  </h3>
</header>
